fastapi
uvicorn
httpx
python-multipart
pydantic
sentence-transformers
scikit-learn
pandas
numpy
openai
google-genai
pytest
transformers
torch>=2.0.0 --index-url https://download.pytorch.org/whl/cu118
torchvision>=0.15.0 --index-url https://download.pytorch.org/whl/cu118
torchaudio>=2.0.0 --index-url https://download.pytorch.org/whl/cu118
sqlalchemy
psycopg2-binary
python-dotenv
